.hidden {
  display: none;
}
.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.task-done span.task-name {
  text-decoration: line-through;
  color: gray;
}
#summaryBoard {
  padding: 10px;
  background: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 5px;
}

#deleteAllBtn {
  color: red;
}

#taskFormContainer {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}

#taskList {
  list-style-type: none;
  padding: 0;
}

.action-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group {
  margin-top: 10px;
}

.form-buttons {
  margin-top: 15px;
}
