/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-wrapper {
  min-width: 1440px;
}

body {
  font-family: "Inter";
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-size: var(--font-size-md);
  overflow-x: auto;
}

.list-unstyled {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

/* Container */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 15px;
  width: 100%;
}
/*Cursor Pointer */
.cursor-pointer {
  cursor: pointer;
}

/* Button Styles */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-family: "Inter";
  font-size: var(--font-size-md);
  line-height: 1;
  background: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-outline {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-lg {
  width: 171px;
  height: 49px;
}

/* Header Styles */
.header {
  background-color: #fff;
}

.top-header {
  border-bottom: 1px solid var(--color-primary);
  padding: 15px 0;
  height: 72px;
  background-color: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: auto;
  padding-top: 7px;
}

.tagline {
  color: var(--color-primary); /* Light purple color with transparency */
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  position: relative;
}

.tagline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 1px;
  background-color: var(--color-primary); /* Purple color for the divider */
}
.tagline-padding {
  padding-left: 20px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 400px;
  margin: 0 30px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 8px 40px 8px 15px;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-size: 14px;
}

.search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #231f2d;
  cursor: pointer;
}

.top-nav .nav-list {
  display: flex;
}

.top-nav .nav-item {
  margin-right: 20px;
  font-size: 14px;
}

.top-nav .nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.top-nav .nav-item:last-child {
  margin-right: 0;
}

.top-nav .nav-link:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.user-actions {
  display: flex;
  gap: 15px;
}

.icon-images {
  font-size: var(--icon-size-sm);
  color: var(--color-primary);
}

.icon-images:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
.heart-container {
  position: relative;
  display: inline-block;
}

.fas.fa-heart {
  font-size: var(--icon-size-sm);
  color: var(--color-primary);
}

.likes-badge {
  position: absolute;
  top: -7.5px;
  right: -4px;
  background-color: var(--color-secondary); /* Same purple color */
  color: var(--color-text-reverser);
  border-radius: 50%;
  padding: 1px 3px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.heart-container:hover .fas.fa-heart {
  color: var(--color-secondary);
}

.heart-container:hover .likes-badge {
  background-color: var(--color-primary);
}

/* Navigation Bar */
.header-navigation-bar {
  padding: 15px 0;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid var(--color-primary);
}

.header-navigation-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav-list {
  display: flex;
  gap: 20px;
}

.main-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
}

.main-nav .nav-link:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone {
  font-size: 14px;
  font-weight: 400;
  padding: 3.5px 39px;
  color: var(--color-text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.phone .fa-phone {
  color: var(--color-primary);
}

.phone:hover .fa-phone {
  color: var(--color-secondary);
}

/* Main Content Sections */
section {
  background-color: #f9f9f9;
}
.slider-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.dot {
    width: 2px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
}

.dot.active {
    background-color: var(--color-primary);
}

/* Hero Section */
.hero {
  background-color: var(--color-background);
  height: 533px;
  position: relative;
}
/* Left Content */
.left-content {
  max-width: 640px;
  flex: 1;
}

.author-button {
  padding: 11.5px 14px;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 24px;
  background: transparent;
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.author-button:hover,
.author-button:focus {
border:1px solid var(--color-primary);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-lg);
  margin: 0 0 16px 0;
  color: var(--color-text-primary);
}

p {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin: 0 0 32px 0;
  width: 478px;
  height: 97px;
  color: var(--color-text-secondary);
}
.view-books-button {
  background-color: var(--color-primary);
  color: white;
  width: 190px;
  height: 49px;
  padding: 12px 32px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-md);
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-books-button:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.right-content {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-image {
  width: 314px;
  height: 445px;
  object-fit: cover;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
  display: block;
}

.discount-text {
  position: absolute;
  top: 50px;;
  right: 300px;;
  width: 163px;
  height: 85px;
  color: #201F1FCC;
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  user-select: none;
  line-height: 1.2;
  pointer-events: none;
  white-space: pre-line;
}

.stock-limit-text {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #313131;
  font-size: var(--font-size-md);
  user-select: none;
  pointer-events: none;
  padding: 0 4px 4px 0;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.nav-buttons {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.nav-button {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--color-primary);
  color: #fff;
  outline: none;
}
