/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-wrapper {
  min-width: 1440px;
}

body {
  font-family: "Inter";
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-size: var(--font-size-md);
  overflow-x: auto;
}

.list-unstyled {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

/* Container */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 15px;
  width: 100%;
}

/*Cursor Pointer */
.btn-cursor-pointer {
  cursor: pointer;
}

/* Button Styles */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn-outline {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
}

.btn-outline-secondary {
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
  padding: 12px 14px;
}

.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-reverse);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-sm {
  padding: 12px 14px;
}

.btn-lg {
  padding: 16px 28px;
}

.btn-xl {
  padding: 14px 36px;
}

/* Header Styles */
.header {
  background-color: var(--color-background);
}

.top-header {
  border-bottom: 1px solid var(--color-primary);
  padding: 15px 0;
  height: 72px;
  background-color: var(--color-background);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: auto;
  padding-top: 7px;
}

.tagline {
  color: var(--color-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  position: relative;
}

.tagline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 1px;
  background-color: var(--color-primary);
}

.tagline-padding {
  padding-left: 20px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 400px;
  margin: 0 30px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 8px 40px 8px 15px;
  border: 1px solid var(--color-background-secondary);
  border-radius: 0px;
  font-size: 14px;
}

.search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--color-icon-search);
}

.top-nav .nav-list {
  display: flex;
}

.top-nav .nav-item {
  margin-right: 20px;
  font-size: 14px;
}

.top-nav .nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.top-nav .nav-item:last-child {
  margin-right: 0;
}

.top-nav .nav-link:hover {
  color: var(--color-secondary);
}

.user-actions {
  display: flex;
  gap: 15px;
}

.icon-images {
  font-size: var(--icon-size-sm);
  color: var(--color-primary);
}

.icon-images:hover {
  color: var(--color-secondary);
}

.heart-container {
  position: relative;
  display: inline-block;
}

.likes-badge {
  position: absolute;
  top: -7.5px;
  right: -4px;
  background-color: var(--color-secondary);
  color: var(--color-text-reverse);
  border-radius: 50%;
  padding: 1px 3px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.heart-container:hover .likes-badge {
  background-color: var(--color-primary);
}

/* Navigation Bar */
.header-navigation-bar {
  padding: 16px 0;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-primary);
}

.header-navigation-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav-list {
  display: flex;
  gap: 20px;
}

.main-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
}

.main-nav .nav-link:hover {
  color: var(--color-secondary);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 39px;
  color: var(--color-text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone:hover {
  color: var(--color-secondary);
}

.phone .fa-phone {
  color: var(--color-primary);
}

.phone:hover .fa-phone {
  color: var(--color-secondary);
}

/* Main Content Sections */
.header-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  margin-top: 20px;
}

.header-dot {
  width: 2px;
  height: 50px;
  background-color: var(--color-background-secondary);
  cursor: pointer;
}

.header-dot.active {
  background-color: var(--color-primary);
}

/* Hero Section */
.hero {
  background-color: var(--color-background);
  height: 533px;
  position: relative;
}

/* Left Content */
.left-content {
  max-width: 640px;
  flex: 1;
}

.heading-primary {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-lg);
  margin: 0 0 16px 0;
  color: var(--color-text-primary);
}

.text-regular {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin: 0 0 32px 0;
  color: var(--color-text-secondary);
}

.hero-description {
  max-width: 478px;
}

.author-button {
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
}

.right-content {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-image {
  width: 314px;
  height: 445px;
  object-fit: cover;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
  display: block;
}

.discount-text {
  position: absolute;
  top: 50px;
  right: 300px;
  max-width: 163px;
  color: var(--color-discount);
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  user-select: none;
  line-height: 1.2;
  pointer-events: none;
  white-space: pre-line;
}

.stock-limit {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-stock-limit);
  font-size: var(--font-size-md);
  user-select: none;
  pointer-events: none;
  padding: 0 4px 4px 0;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav-buttons {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.nav-button {
  padding: 9px 12px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  outline: none;
}

/* Features block */
.features-section {
  background-color: var(--color-background);
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.feature-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 1px;
  background-color: var(--color-background-secondary);
}

.feature-icon {
  font-size: var(--font-size-xl);
  color: var(--color-feature);
  margin-right: 12px;
}

.feature-text {
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  font-weight: 600;
}

.feature-text-underline {
  text-decoration: none;
}

.feature-text-underline:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Carousel Section */
.carousel-section {
  margin-bottom: 60px;
  position: relative;
}

.section-heading {
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-bottom: 30px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 20px;
}

/* Product Card */
.product-card {
  min-width: 275px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.book-cover {
  height: 415px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0px 0px 60px 0px #00000040 inset;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.product-card:hover .book-cover {
  transform: scale(1.02);
}

.book-title {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-text-primary);
  margin-bottom: 7px;
}

.book-author {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-text-product);
  margin-bottom: 14px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.book-price {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.fav-button {
  position: relative;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-primary);
  width: 24px;
  height: 24px;
}

.fav-button i {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.solid-heart {
  opacity: 0;
}

.fav-button:hover .regular-heart {
  opacity: 0;
}

.fav-button:hover .solid-heart {
  opacity: 1;
}

.add-to-cart {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  border: none;
  padding: 12px;
  border-radius: 2px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-to-cart:hover {
  background-color: var(--color-add-to-cart);
  transform: translateY(-2px);
  color: var(--color-text-reverse);
}

/* Add to product sroll */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 1px solid var(--color-primary);
  padding: 15px 18px;
  border-radius: 50%;
  color: var(--color-primary);
  z-index: 10;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  outline: none;
}

.prev-btn {
  left: 60px;
}

.prev-btn i {
  font-size: 20px;
}

.next-btn {
  right: 60px;
}

.next-btn i {
  font-size: 20px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 12px;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-background-secondary);
}

.carousel-dot.active {
  background-color: var(--color-primary);
}

/* About Us*/
.about-us {
  padding: 60px 0;
  background-color: var(--color-background);
}

.about-us-content {
  display: flex;
  gap: 40px;
}

.about-us-text {
  flex: 1;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.newsletter-form input {
  padding: 12px 15px;
  border: none;
  border-bottom: 1px solid var(--color-text-tertiary);
  font-size: 14px;
  color: var(--color-primary);
}

.newsletter-form input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
}

.newsletter-form ::placeholder {
  color: var(--color-text-third);
}

.about-us-image {
  flex: 1;
}

.map-img {
  max-width: 100%;
  width: 576px;
  height: auto;
}
