/* Button Styles */

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn-outline {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
}

.btn-outline-secondary {
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  font-weight: 400;
  font-size: var(--font-size-ms);
  border-radius: 3px;
  padding: 12px 14px;
}

.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-reverse);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-sm {
  padding: 12px 14px;
}

.btn-lg {
  padding: 16px 28px;
}

.btn-xl {
  padding: 14px 36px;
}

.nav-button {
  display: inline-flex;
  padding: 9px 12px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 12px;
}

.nav-button:hover {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  outline: none;
}

.scroll-btn {
  display: none;
}

.add-to-cart {
  background-color: var(--color-primary);
  color: var(--color-text-reverse);
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-size: var(--font-size-ms);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-to-cart:hover {
  background-color: var(--color-add-to-cart);
  transform: translateY(-2px);
  color: var(--color-text-reverse);
}

.btn-secondary {
  width: 100%;
  margin-bottom: 30px;
  color: var(--color-text-reverse);
  border-color: var(--color-text-reverse);
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--color-add-to-cart);
  color: var(--color-text-reverse);
}

@media (min-width: 1024px) {
  .add-to-cart {
    padding: 12px;
    font-size: var(--font-size-md);
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid var(--color-primary);
    padding: 15px 18px;
    border-radius: 50%;
    color: var(--color-primary);
    z-index: 10;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-text-reverse);
    outline: none;
  }

  .prev-btn {
    left: -60px;
  }

  .prev-btn i {
    font-size: var(--font-size-md-lg);
  }

  .next-btn {
    right: -60px;
  }

  .next-btn i {
    font-size: var(--font-size-md-lg);
  }
}
