/* Form Styles */

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.newsletter-form input {
  padding: 12px 15px;
  border: transparent;
  border-bottom: 1px solid var(--color-text-tertiary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-tertiary);
  transition: border 0.3s ease;
}

.newsletter-form input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.newsletter-form ::placeholder {
  color: var(--color-text-third);
}
