/* components/index.css */
@import './buttons.css';
@import './product-card.css';
@import './carousel.css';
@import './forms.css';
@import './breadcrumb.css';
@import './product-gallery.css';
@import './rating.css';
@import './badge.css';
@import './quantity-selector.css';
@import './favorite-button.css';
@import './product-info.css';
@import './product-detail.css';
@import './menu.css';
