/* Product Card */

.product-card {
  min-width: 18rem;
  /* same 275px */
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.product-card-cover {
  height: 26rem; /* same 415px */
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.625rem; /* same 10px */
  box-shadow: 0px 0px 3.75rem 0px var(--color-shadow-dark) inset; /* same 60px */
  border-radius: 0.1875rem; /* same 3px */
  transition: transform 0.3s ease;
}

.product-card:hover .product-card-cover {
  transform: scale(1.02);
}

.product-card-title {
  font-size: var(--font-size-md-lg);
  line-height: var(--line-height-ml);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
  margin-bottom: 7px;
}

.product-card-author {
  font-size: var(--font-size-ms);
  line-height: var(--line-height-ms);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-product);
  margin-bottom: 14px;
}

.product-card-price-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.product-card-price {
  font-size: var(--font-size-ml);
  line-height: var(--line-height-ml);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}

@media (min-width: 1024px) {
  .product-card {
    min-width: 275px;
    scroll-snap-align: none;
  }

  .product-card-title {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xl);
  }

  .product-card-author {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }

  .product-card-price {
    font-size: var(--font-size-md-lg);
    line-height: var(--line-height-ml);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-card-title {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xl);
  }
  .product-card-author {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }
}
