/* Product Info Component */
.product-info {
  width: 100%;
  order: 2;
}

.product-title {
  font-size: var(--font-size-md-lg);
  line-height: var(--line-height-ml);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  margin-bottom: 12px;
}

.product-author {
  font-size: var(--font-size-ms);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
  margin-bottom: clamp(0.9375rem, 1.5vw, 1.25rem);
}

.product-price {
  font-size: var(--font-size-ml);
  line-height: var(--line-height-ml);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
  margin-bottom: clamp(1.25rem, 2vw, 1.5625rem);
}

.product-description {
  font-size: var(--font-size-ms);
  line-height: var(--line-height-rg);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
  margin-bottom: clamp(1.5625rem, 2vw, 1.875rem);
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 15px);
  margin-bottom: clamp(30px, 3vw, 40px);
}

.btn-add-cart,
.btn-favorite {
  width: 100%;
  padding: clamp(0.75rem, 1.5vw, 0.9375rem) 0;
  font-size: var(--font-size-md);
  text-align: center;
}

@media (min-width: 1024px) {
  .product-info {
    flex: 1;
    width: 45%;
    order: 0;
    padding: 0;
  }

  .btn-add-cart,
  .btn-favorite {
    flex: 1;
  }
  .product-title {
    font-size: var(--font-size-xl-lg);
    line-height: var(--line-height-xxl);
  }
  .product-author {
    font-size: var(--font-size-ml);
    line-height: var(--line-height-m);
  }
  .product-price {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xxl);
  }
  .product-actions {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .product-title {
    font-size: var(--font-size-xl-lg);
    line-height: var(--line-height-xxl);
  }
  .product-author {
    font-size: var(--font-size-ml);
    line-height: var(--line-height-m);
  }
  .product-price {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xxl);
  }
  .product-actions {
    flex-direction: row;
  }
}
