.progress-bar-container {
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.progress-bar {
  height: 100%;
  background-color: var(--color-white);
  transition: width 1s linear;
}
