/* CSS Variables */
:root {
  /* Color  */
  --color-background: #ffffff;
  --color-background-secondary: #ddd;
  --color-text-product: #4f4c57;
  --color-text-secondary: #4d4c4c;
  --color-primary: #937dc2;
  --color-secondary: #c689c6;
  --color-text-primary: #382c2c;
  --color-text-reverse: #fff;
  --color-text-tertiary: rgba(147, 125, 194, 0.4);
  --color-icon-search: #231f2d;
  --color-discount: rgba(32, 31, 31, 0.8);
  --color-feature: #382c2c;
  --color-stock-limit: #313131;
  --color-add-to-cart: #8f5bba;
  --color-footer-link: rgba(255, 255, 255, 0.8);
  --color-detail-label: rgba(198, 137, 198, 0.7);
  --color-background-search: #f1f1f1;
  --color-text-detail-value: #382c2c;
  --color-text-detail-iteam: rgba(198, 137, 198, 0.7);
  --color-text-value: #4f4c57;
  --color-background-pagination-btn: rgba(147, 125, 194, 0.4);
  --color-boder-top: rgba(147, 125, 194, 0.6);
  --color-shadow-light: rgba(255, 255, 255, 0.25);
  --color-shadow-dark: #00000040;
  /* Font size */
  --font-size-md: 1rem; /* font size primary */
  --font-size-ml: 1.125rem; /* = 18px */
  --font-size-ms: 0.875rem; /* = 14px */
  --font-size-xs: 0.5rem; /* = 8px */
  --font-size-sm: 0.75rem; /* = 12px */
  --font-size-lg: 1.5rem; /* = 24px */
  --font-size-md-lg: 1.25rem; /* = 20px */
  --font-size-xl-lg: 1.75rem; /* = 28px */
  --font-size-lg-xl: 2.25rem; /* = 36px */
  --font-size-xl: 2.375rem; /* = 38px */
  --font-size-2xl: 3rem; /* = 48px */
  /* Light height   */
  --line-height-sm: 0.75rem; /* 12px */
  --line-height-md: 1.5rem; /* 24px */
  --line-height-g: 3.75rem; /* 60px */
  --line-height-xs: 1rem; /* 16px */
  --line-height-s: 1.125rem; /* 18px */
  --line-height-ms: 1.25rem; /* 20px */
  --line-height-rg: 1.375rem; /* 22px */
  --line-height-ml: 1.625rem; /* 26px */
  --line-height-m: 1.6875rem; /* 27px */
  --line-height-lg: 1.75rem; /* 28px */
  --line-height-xl: 2rem; /* 32px */
  --line-height-xxl: 2.25rem; /* 36px */
  --line-height-hg: 3.0625rem; /* 49px */
  /* Font-weight   */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Icon size */
  --icon-size-sm: 1.25rem; /* icon size phone */
  --icon-size-md: 1.5rem; /* icon size primary */
  --icon-size-lg: 1.75rem; /* icon size web */
  /* Border radius  */
  --border-radius: 2px;
  /* Breakpoints */
  --breakpoint-sm: 769px;
  --breakpoint-md: 1024px;
  /* Container max-widths */
  --container-xs: 100%;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1200px;
}
